.page {
  font-family: sans-serif;
  color: #444;
  border-block-start: 10px solid #1098ad;
}

.page__inner {
  margin: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas:
    "header header"
    "content sidebar"
    "footer footer";
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.page__header {
  grid-area: header;
}

.page__main {
  grid-area: content;
}

.page__aside {
  grid-area: sidebar;
}

.page__footer {
  grid-area: footer;
  font-size: 16px;
}
